/* Generales */
* {
    box-sizing: border-box;
    font-family: 'Annie Use Your Telescope', cursive;

}



ul {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    height: 100vh;
    background: url('/img/elefante-body.jpg') no-repeat 30% top/cover, black;
}

.anchomaximo {
    max-width: 2000px;
}

.container {
    display: flex;
    justify-content: end;
    margin: 50px 50px 0 0;
}

/* Header */
.navHeader li a {

    color: rgb(202 202 202);
    font-size: 2.5em;
    text-transform: uppercase;
    transition: 0.5s;

}

.navHeader a:hover {
    color: #fff;
    transform: scale(1.1);
    /* border-bottom: 1px solid lightgray; */
}

/* Main */

main {
    color: #fff;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

main>div{
    align-content: center;
}

.articuloElefantes {    
    background-color: rgb(0, 0, 0, 0.6);
    width: 50%;    
    padding-left: 50px;
    border-radius: 15px;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: justify;
}

/* Footer */
footer{
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin-top: 200px;
}

@media screen and (max-width: 1100px){
    .navHeader li a {        
        font-size: 2em;   
    }

    .container {        
        justify-content: end;
        margin: 30px 30px 0 0;
    }

    .articuloElefantes{
        width: 70%;
        font-size: 1.2em;
        padding-left: 30px;
    }
}

@media screen and (max-width: 900px){ 
    .articuloElefantes{
        width: 100%;
        border-radius: 0;        
    }

    footer{        
        margin-top: 100px;
    }
}

@media screen and (max-width: 700px){
    .navHeader li a {        
        font-size: 1.5em;   
    }

    .articuloElefantes{        
        font-size: 1em;
    }    

    footer{        
        margin-top: 40px;
    }
}






    
